<div class="yellow_bg">
    <div class="container">
             <div class="row">
                <div class="col-md-12">
                   <div class="title">
                     <hr style="width: 100%; text-align: left; margin-left: 0; height: 3px" />
                      <h2>About Food and Restaurants</h2>
                     
                   </div>
                </div>
             </div>
           </div>
 </div>
<!-- about -->
<div class="about">
    <div class="container">
      <div class="row">
         <div class="col-md-12">
             <div class="title">
                <i><img src="assets/images/title.png" alt="#"/></i>

                <hr style="width: 100%; text-align: left; margin-left: 0; height: 30px" />

                <!--<div class="container">
                   <form>
                      <label for="cars" text-align: left>Locations  </label>
                        <select name="cars" id="cars">
                           <option value="type 1">type 1</option>
                           <option value="type 2">type2</option>
                        </select>
                         <br><br>
                  <input type="submit" value="Submit">
                  </form>
                </div>-->
                
               <!--<form action="/about">
                      <input list="browsers" name="browser">
                                 <datalist id="browsers">
                                          <option value="Internet Explorer">
                                     <option value="Firefox">
                                    <option value="Chrome">
                                    <option value="Opera">
                                 <option value="Safari">
                   </datalist>
                     </form>-->
             </div> 
            <!-- <div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                  </div>
               </div>-->

               
            
            <button type="button" class="btn btn-dark" onclick="myFunction()" >Locations</button>
               <p id="demo"></p>

            <button type="button" class="btn btn-dark" onclick="myFunction2()" >Recipes</button>
            <p id="demo2"></p>
          </div>
       </div> 
    </div>
</div>

   