<hr style="width: 100%; text-align: center; margin-left: 0; margin-top: 8em; height: 20px" />

<div>
    <p>&nbsp;&nbsp; </p>
    <h1>Welcome to Foodie!!</h1>           
        <p style="text-transform: capitalize; font:italic 1.5em  Fira Sans, serif; color: black;">
            Foodie is specially for knowing about the whereabouts of your favourite
             food dishes and also about the food items which you dont know. But how?
            Here is the way..</p>

            <p style="text-transform: capitalize; font:italic 1.5em  Fira Sans, serif; color: black;">
            -Find/capture a photo of the food item.</p>
            <p style="text-transform: capitalize; font:italic 1.5em  Fira Sans, serif; color: black;">
            -Upload the photo by clicking 'Add image' button.</p>
            <p style="text-transform: capitalize; font:italic 1.5em  Fira Sans, serif; color: black;">
            -Lastly, click the 'Upload photo' button.</p>

            <p style="text-transform: capitalize; font:italic 1.5em  Fira Sans, serif; color: black;">
            That's it! Doing this, you get the recipes and locations of where the dish could be found.</p>
        <p>&nbsp;&nbsp; </p>
        

                                    
        </div>
       <!-- </div>
</div>-->