<div class="wrapper">
  <!-- end loader -->

  <div class="sidebar">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div id="dismiss">
        <i class="fa fa-arrow-left"></i>
      </div>

      <ul class="list-unstyled components">
        <li class="active">
          <a href="index.html">Home</a>
        </li>
        <!--<li class="active">
          <a href="/about">About</a>
        </li>
         <li>
          <a href="recipe.html">Recipe</a>
        </li>
        <li>
          <a href="blog.html">Blog</a>
        </li>
        <li>
          <a href="contact.html">Contact Us</a>
        </li>-->
      </ul>
    </nav>
  </div>

  <div id="content">
    <!-- header -->
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="full">
              <a class="logo" href="index.html">
                <img src="assets/images/newlogo.png" alt="#" />
              </a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="full">
              <div class="right_header_info">
                <ul>
                 <!-- <li class="dinone">
                    <img
                      style="margin-right: 15px"
                      src="assets/images/mail_icon.png"
                      alt="#"
                    /><a href="#">demo@gmail.com</a>
                  </li>
              
                  <li class="dinone">
                    <img
                      style="
                        margin-right: 15px;
                        height: 21px;
                        position: relative;
                        top: -2px;
                      "
                      src="assets/images/location_icon.png"
                      alt="#"
                    /><a href="#">104 New york , USA</a>
                  </li>
                  
                  
                  <li class="button_user">
                    <a class="button active" href="#">Login</a>
                    <a class="button" href="#">Register</a>
                  </li>

                  <li>
                    <button type="button" id="sidebarCollapse">
                      <img src="assets/images/menu_icon.png" alt="#" />
                    </button>
                  </li>

                  <li class="active"><a href="#" routerLink="/login" routerLinkActive="active">Login</a></li> 

                  <li>
                    <a href="#" routerLink="/signup" routerLinkActive="active"
                      >SignUp</a
                    >
                  </li>-->

                  <li>
                    <a href="#" routerLink="/login" routerLinkActive="active"
                      >About Foodie</a
                    >
                  </li>
                  
                  <li>
                    <button type="button" id="sidebarCollapse">
                      <img src="assets/images/menu_icon.png" alt="#" />
                    </button>
                  </li>
                </ul>
              </div>
            </div>
       
          </div>
        </div>
      </div>
    </header>

    <!-- end header -->

    <!-- end slider section -->

    <router-outlet></router-outlet>

    <!--<hr style="width: 100%; text-align: left; margin-left: 0; height: 2px" />  
    <app-about></app-about>-->

    <!-- footer -->
    <footer>
      <div class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <ul class="lik">
                <li class="active">
                  <a href="#" routerLink="/home" routerLinkActive="active"
                    >Home</a>
                </li>

               <!-- <li>
                  <a href="#" routerLink="/types" routerLinkActive="active"
                    >Types</a>
                </li>

                <li>
                  <a href="#" routerLink="/about" routerLinkActive="active"
                    >About</a>
                </li>

                
                <li><a href="recipe.html">Recipe</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact us</a></li>-->
              </ul>
            </div>
          </div>
        </div>
       <!-- <div class="copyright">
          <div class="container">
            <p>
              © 2019 All Rights Reserved. Design by<a
                href="https://html.design/"
              >
                Free Html Templates</a
              >
            </p>
          </div>
        </div>-->
      </div>
    </footer>
    <!-- end footer -->
  </div>
</div>
