    <!-- start slider section -->
    <div class="slider_section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="full">
                <div class="row">
                  <div class="col-md-5">
                    <div class="slider_cont">
                      <h3>Discover Restaurants<br /> Near You</h3>
                      <p>
                        It is a long established fact that a reader will be
                        distracted by the readable content of a page when looking
                        at its layout.
                      </p>
                     <!-- <a class="main_bt_border" href="#">Order Now</a>-->
                    </div>
                  </div>
                  <div class="col-md-7 full text_align_center">
                    <div class="slider_image">
                      <img
                        class="img-responsive"
                        src="assets/images/burger_slide.png"
                        alt="#"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p style="padding :0em; border-width:1px; border-color:white;"></p>
<app-search></app-search>
<!--<hr style="width: 100%; text-align: left; margin-left: 0; height: 2px"/> -->
<p style="padding :0em; border-width:1px; border-color:white;"></p>
<app-upload></app-upload>
<p style="padding :0em; border-width:1px; border-color:white;"></p>
